* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Font Size */

  font-size: 62.5%; /* 62.5% = 10px */
  --nav-height: 7.2rem;

  /* Colors */

  --brand-green-hover: hsl(170, 100%, 14%);
  --brand-border: hsla(170, 100%, 26%, 0.15);
  --brand-green: hsl(170, 100%, 26%);
  --brand-green-light: hsl(148, 23%, 89%);
  --brand-green-light-02: hsl(180, 14%, 97%);
  --brand-beige: hsl(39, 100%, 97%);

  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);

  --white: hsl(0, 0%, 100%);
}

html {
  /* chrome://flags/#smooth-scrolling enabled (rolagem suave)*/
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;

  background-color: var(--brand-green-light-02);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 37.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

section {
  padding: 10rem 0;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--brand-green);
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--gray-headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--gray-headline);
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
}

.button {
  width: fit-content;
  background: var(--brand-green);
  border: 0;
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;

  margin-bottom: 6rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--brand-green-hover);
}

/* --------------- Navigation --------------- */

nav {
  display: flex;
  width: 100%;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  z-index: 100;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background: var(--brand-green);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  border: 0;
  background: none;
  cursor: pointer;
}

/* --------------- Menu expanded --------------- */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
  opacity: 0;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
  display: none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
  display: block;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--brand-green);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

.menu ul:first-child li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
  margin-top: 6rem;
}

.menu ul li a {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu .button {
  background: var(--white);
  color: var(--brand-green);
  border-radius: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;

  padding: 1.6rem 3.2rem;

  display: inline-block;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded .close-menu path {
  stroke: var(--white);
}

/* --------------- Header --------------- */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));

  position: absolute;
  background-color: var(--brand-green-light);
  display: block;

  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 3.2rem;
}

#home .button {
  margin: 0 auto 6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin: 0 auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding: 4rem 0;
  margin: 0 auto;
  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--gray-headline);
}

#home .stat p {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--brand-green);
}

/* --------------- Services --------------- */

#services h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: var(--white);
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin: 1.6rem 0;
}

/* --------------- About --------------- */

#about {
  text-align: left;
  background: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4;
  margin-bottom: 6rem;
}

#about .content img {
  border: 1px solid var(--brand-border);
  border-radius: 2rem;
}

/* --------------- Contact --------------- */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* --------------- Footer --------------- */

footer {
  background-color: var(--brand-green);
  padding: 6rem 0;

  text-align: left;
  color: var(--white);
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: var(--white);
}

footer p {
  color: var(--brand-beige);
  line-height: 2;
}

footer .social-links {
  margin-top: 3.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* --------------- Back To Top  --------------- */

#backTop {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;
}

#backTop.show {
  opacity: 1;
  visibility: visible;
}
