* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* equivale a 10px */

  --hue: 170;
  --primary: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 37.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/*------------- Nav -------------------*/

nav {
  display: flex;

  position: fixed;

  height: 7.1rem;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background: var(--primary);
  width: 100vw;
}
nav.scroll path {
  fill: white;
}
nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
}

/*------------- /Nav -------------------*/

/*-------------  Nav Menu --------------*/

body.menu-active {
  overflow: hidden;
}

body.menu-active > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-active .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-active .menu,
body.menu-active .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-active .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary);
  width: 100vw;
  height: 100vh;
  padding-top: 7.1rem;
}

body.menu-active nav#navigator {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 3.1rem;
  font-weight: 700;
  font-size: 2rem;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary);

  display: inline-block;
  padding: 1.6rem 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

body.menu-active .menu .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  margin-bottom: 28.9rem;
}

body.menu-active .logo,
body.menu-active button svg path,
body.menu-active button {
  position: relative;
  z-index: 100;
}
body.menu-active .logo svg path {
  fill: white;
}
body.menu-active button.close-menu svg path {
  stroke: white;
}

body.menu-active button.close-menu {
  border: 0;
  background: transparent;
}

/*------------- /Nav Menu --------------*/

/*------------- Header  -------------------*/

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + 7.1rem);
  background: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header.container {
  padding: 0 2rem;
  margin-top: calc(11.2rem);
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary);
  margin-bottom: 1.6rem;
  margin-top: 4.1rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: normal;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  background-color: var(--primary);
  border-radius: 4rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem auto;
  margin-bottom: 6rem;

  width: 26.3rem;
  height: 6.2rem;

  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

header button img {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

header img .img {
  width: 26.4rem;
  display: block;
  margin: 0 auto;
  object-position: 0 2rem;
}

header .stats {
  padding: 4rem 0;
  width: 32.7rem;
  margin: 0 auto;
  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

header .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

header .stat p {
  margin: 0;
  color: var(--primary);
  font-size: 1.6rem;
}

/*------------- /Header -------------------*/
